<div class="container" *ngIf="moviesDetails">
  <div class="row">
    <div> 
      <div class="col-md-8">
        <img src="{{moviesDetails.Poster}}" class="img-responsive">
        <h4><strong><em>{{moviesDetails.Title}}</em></strong></h4>
        <h6>IMDB Rating : <strong>{{moviesDetails.imdbRating}}</strong> | Year : <strong>{{moviesDetails.Year}}</strong></h6>
      </div>
      <div class="col-md-8">
          <blockquote><em>"{{moviesDetails.Plot}}"</em></blockquote>
 
             <div class="well well-sm"><strong>Genre - {{moviesDetails.Genre}}</strong></div>
             <div class="well well-sm"><strong>Actors - {{moviesDetails.Actors}}</strong></div>
             <div class="well well-sm"><strong>Awards : {{moviesDetails.Awards}}</strong></div>
             <div class="well well-sm"><strong>Production : {{moviesDetails.Production}}</strong></div>
    
      </div>
    </div>
  </div>
 </div>